@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

main {
  padding: 1em;
  min-height: calc(100vh - 396px - 114px)
}

@media screen and (min-width: 768px) {
  main {
    min-height: calc(100vh - 168px - 114px)
  }
}

@media screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 124px - 114px)
  }
}

@media screen and (min-width: 1280px) {
  main {
    min-height: calc(100vh - 112px - 114px)
  }
}

h2,
h3 {
  font-weight: bold;
}

h2 {
  margin: 1rem 0 1rem 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  margin: .75rem 0 .75rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

.popingButton {
  animation: bounce 4s infinite, colorShift 8s infinite;
}

select:hover,
option:hover {
  cursor: pointer;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateX(10%);
  }

  50% {
    transform: translate(10%, 10%);
  }

  75% {
    transform: translate(0, 10%);
  }
}

@keyframes colorShift {

  0%,
  50%,
  100% {
    background-color: rgb(39 39 42);
  }

  25% {
    background-color: rgb(30 58 138);
  }

  75% {
    background-color: rgb(127 29 29);
  }
}